.about{
    height: 100vh;
}

.wrapper{
    padding-top: 4em;
}

.table{
    height: 100vh;
}

#technology{
    padding-bottom: 2em; 
}

.first-slide{
    height: 100vh;
}

.portfolio{
    height: 130vh;
}

.cards__item {
    width: 50%;
    padding: 1rem;
}

.profile{
    width: 20%;
}

.wrapper{
    margin: 0;
    overflow: auto;
    height: 100vh;
}

.resume i{
    margin: auto;
    padding: 0;
    font-size: 3em;
    color: silver;
    text-align: center;
}

.resume p{
    margin: auto;
    padding: 0;
    font-size: 0.9em;
}

.cards__item {
    width: 100%;
    padding: 1rem;
}

.portfolio{
    height: 140vh
}

.table{
    grid-template-rows: 50vh 50vh;
}

#information{
    padding-top: 0;
}

h1{
    font-size: 25px;
}